b-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
package-lock.json
yarn-lock.json
yarn-error.log
raccoon.sublime-project

.idea/*
*.iml
projectFilesBackup
raccoon.sublime-workspace

.DS_Store

dist/

config.json
changelog.md
changelog.md.bk
